
/*Mainly relied on flex display when I need to move things around learned about it from this video 
https://www.youtube.com/watch?v=FTlczfR82mQ
*/
.bcontainer{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.scontainer{
	display: flex;
	height: 300px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
}
.scontainer div{
height: 200px;
width: 400px;
padding: 3px
}
.ch1{
	order: 1;
}
.ch2{
order: 2;
}
.fcontainer{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}

/*Made this because the html validator have problems with inline style*/
.scontainer img{

	height: 200px;
	width: 400px;
}